@page
@model Library.Pages.Publishers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактировать запись</h1>

<h4>Издательство</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Publisher.PubId" />
            <div class="form-group">
                <label asp-for="Publisher.PublicistTitle" class="control-label"></label>
                <input asp-for="Publisher.PublicistTitle" class="form-control" />
                <span asp-validation-for="Publisher.PublicistTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher.City" class="control-label"></label>
                <input asp-for="Publisher.City" class="form-control" />
                <span asp-validation-for="Publisher.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher.Address" class="control-label"></label>
                <input asp-for="Publisher.Address" class="form-control" />
                <span asp-validation-for="Publisher.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
